.main {
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: 0 auto;
	height: 100vh;
	min-height: 100vh;
	background-color: #fff;
}

.contentPrimary {
	margin: 0 auto;
	width: var(--content-width);
	max-width: var(--content-max-width);
	text-align: center;
}

.buttonExpand {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	gap: 7px;
	width: 50px;
	height: 50px;
	background-color: #000;
	color: #fff;
	font-size: 0.7rem;
	transform: rotate(-45deg);
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.buttonShrink {
	position: fixed;
	top: 1rem;
	left: 1rem;
	color: #fff;
	background-color: transparent;
	font-size: 1.4rem;
	border: none;
	z-index: 20;
	cursor: pointer;
}

.btnFade {
	animation: removeBtn 0.5s both;
}

.btnFadeIn {
	animation: showBtn 0.5s both;
}

@keyframes removeBtn {
	0% {
		background-color: #000;
		transform: rotate(-45deg) scale(1);
	}

	40% {
		background-color: rgb(163, 163, 163);
	}

	100% {
		background-color: #fff;
		transform: rotate(-45deg) scale(0);
	}
}
@keyframes showBtn {
	0% {
		background-color: #fff;
		transform: rotate(-45deg) scale(0);
	}

	100% {
		background-color: #000;
		transform: rotate(-45deg) scale(1);
	}
}
